{% extends 'base_detail_list1.html' %}
{% load staticfiles %}
{% block tittle %}iship-图片详情{% endblock tittle %}
{% block main_content %}
{% csrf_token %}
	<div class="goods_detail_con clearfix">
    <input type="hidden" class="ids"  ids="{{ ids }}" value="{{ good.id }}" >
		<div class="goods_detail_pic fl"><img src="/static/{{ good.image }}"></div>
		 <div class="goods_detail_list fr">
			<h3>{{good.spu1}}({{ good.ename }})</h3>
			<div class="prize_bar">
				<span class="show_pirze"><em>{% if good.status == 0 %}未审{% elif good.status == 1 %}已审{% elif good.status == 2 %}驳回{% endif %}</em></span>
				<span class="show_unit">坐标：({{ good.xl }},{{ good.yl }})({{ good.xr }},{{ good.yr }})</span>
			</div>
			<div class="total">图片来源：<em>{{good.imagefrom}}</em></div>
            <div class="total">提供单位：<em>{{good.imageunite}}</em></div>
            <div class="total">采集时间：<em>{{good.imagetime}}</em></div>
            <div class="total">采集天气：<em>{{good.imageweather}}</em></div>
            <div class="total">图片海域：<em>{{good.imageocean}}</em></div>
            <div class="total">采集地点：<em>{{good.imagesite}}</em></div>
            <div class="total">拍摄距离：<em>{{good.imagedistance}}</em></div>
            <div class="total">上传用户：<em>{{username}}</em></div>
            <div class="download"><a id="download1" href="{% url  'goods:download_img' good.id %}">下载该图片</a>



        </div>
{{ errmsg }}
    </div>
    </div>
{% endblock main_content %}
